In [1]:
import psycopg2 as pg2

In [2]:
conn = pg2.connect(database = 'school', user = 'postgres', password=None)

In [3]:
cur = conn.cursor()

In [4]:
# query = """CREATE TABLE psycopg2_table_creation (
#         id SERIAL PRIMARY KEY, 
#         curr_company VARCHAR(30) UNIQUE NOT NULL, 
#         salary_package INTEGER UNIQUE NOT NULL
#     )"""

# cur.execute(query)

# conn.commit()

In [5]:
query2 = """INSERT into psycopg2_table_creation(curr_company, salary_package)
            values 
            ('Visa', 15),
            ('Amazon', 27),
            ('Google', 37),
            ('Microsoft', 47),
            ('Apple', 57)"""

cur.execute(query2)

conn.commit()

In [6]:
query3 = "select * from psycopg2_table_creation"

cur.execute(query3)

In [7]:
datas = cur.fetchall()

for data in datas:
    print(data)

(6, 'Visa', 15)
(7, 'Amazon', 27)
(8, 'Google', 37)
(9, 'Microsoft', 47)
(10, 'Apple', 57)