In [1]:
import psycopg2 as pg2

In [2]:
conn = pg2.connect(database = 'dvdrental', user = 'postgres', password=None)

In [3]:
print(conn)

<connection object at 0x105f1d7e0; dsn: 'user=postgres dbname=dvdrental', closed: 0>

In [4]:
cur = conn.cursor()

In [5]:
cur.execute('SELECT * from payment order by payment_id ASC limit 10')

In [6]:
cur.description

# This will give OID(Object Identfier) for data type

(Column(name='payment_id', type_code=23),
 Column(name='customer_id', type_code=21),
 Column(name='staff_id', type_code=21),
 Column(name='rental_id', type_code=23),
 Column(name='amount', type_code=1700),
 Column(name='payment_date', type_code=1114))

In [7]:
# cur.fetchone()

In [8]:
# cur.fetchmany(12)

In [9]:
# cur.fetchall()

In [10]:
datas = cur.fetchall()

for data in datas:
    print(data)

(17503, 341, 2, 1520, Decimal('7.99'), datetime.datetime(2007, 2, 15, 22, 25, 46, 996577))
(17504, 341, 1, 1778, Decimal('1.99'), datetime.datetime(2007, 2, 16, 17, 23, 14, 996577))
(17505, 341, 1, 1849, Decimal('7.99'), datetime.datetime(2007, 2, 16, 22, 41, 45, 996577))
(17506, 341, 2, 2829, Decimal('2.99'), datetime.datetime(2007, 2, 19, 19, 39, 56, 996577))
(17507, 341, 2, 3130, Decimal('7.99'), datetime.datetime(2007, 2, 20, 17, 31, 48, 996577))
(17508, 341, 1, 3382, Decimal('5.99'), datetime.datetime(2007, 2, 21, 12, 33, 49, 996577))
(17509, 342, 2, 2190, Decimal('5.99'), datetime.datetime(2007, 2, 17, 23, 58, 17, 996577))
(17510, 342, 1, 2914, Decimal('5.99'), datetime.datetime(2007, 2, 20, 2, 11, 44, 996577))
(17511, 342, 1, 3081, Decimal('2.99'), datetime.datetime(2007, 2, 20, 13, 57, 39, 996577))
(17512, 343, 2, 1547, Decimal('4.99'), datetime.datetime(2007, 2, 16, 0, 10, 50, 996577))

In [11]:
columns = [(desc[0], desc[1]) for desc in cur.description]

# Query PostgreSQL's `pg_type` system catalog to get actual type names
cur.execute("SELECT oid, typname FROM pg_type")
type_map = dict(cur.fetchall())  # Creates a dictionary {OID: 'type_name'}

# Print column names with their actual PostgreSQL type
for col_name, type_code in columns:
    print(f"{col_name}: {type_map.get(type_code, 'Unknown Type')}")

payment_id: int4
customer_id: int2
staff_id: int2
rental_id: int4
amount: numeric
payment_date: timestamp

In [12]:
conn.close()